@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;0,900;1,400;1,600&display=swap');

//color
$color-background: #2F303A;
$color-varios: #202027;
$color-navhover: #202027;
$color-button: #1762A7;
$color-btnhover: #2180d8;
$color-accenttext: #AE457E;
$color-circle1: #bc3a801a;
$color-circle2: #3457b21a;
$color-borderinput: #2E3852;
$color-borderinputfocus: #596da0;

